@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: var(--color-background);
}

button {
  margin: 0;
  padding: 0;
  border: none;

  background: transparent;

  cursor: pointer;
}

:root {
  --color-white: #fff;
  --color-primary: #4d75dc;

  --color-positive: #43AE88;
  --color-negative: #E15D5A;

  --color-info-light: #f6f6f9;
  --color-dark: #363949;
  --color-dark-hover: #AAAAB3;

  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #dce1eb;
  --color-background-variant: #dedcdc;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
  --color-primary: #7380ec;
  --color-info-light: #292f32;
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.positive {
  background: var(--color-positive);
}

.negative {
  background: var(--color-negative);
}

h2 {
  color: var(--color-dark);
  font-size: 1.5rem;
}

h3 {
  color: var(--color-dark);
  font-size: 1rem;
}

h4 {
  color: var(--color-dark);
  font-size: .95rem;
}

td {
  font-size: .9rem;
}

tr {
  color: var(--color-dark);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: .5rem 1.5rem;
  background: var(--color-info-light);

  box-shadow: var(--box-shadow);
}

.header-center {
  display: flex;
  align-items: center;

  justify-content: center;
}

.title::after {
  content: "";
  display: block;
  width: 55px;
  height: 5px;
  background: var(--color-primary);
}

.user p {
  color: var(--color-dark);
  font-size: .85rem;
}

.user p span {
  font-size: 1rem;
  margin-left: .25rem;
}

.switch-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: fit-content;

  border-radius: 5rem;
  background: var(--color-background-variant);

  margin-right: 5rem;

  cursor: pointer
}

.switch-toggle span:hover {
  opacity: .6;
  background: var(--color-dark);
  color: var(--color-white);
  border-radius: 5rem;
}

.switch-toggle span {
  padding: .25rem;
  font-size: 1.1rem;

  transition: all .3s ease-in-out;
}

.switch-actived {
  background: var(--color-primary);
  border-radius: 5rem;
  color: #fff;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin: 2rem auto;

  border-radius: 50px;
  background: var(--color-info-light);
  box-shadow: var(--box-shadow);
}

.controls button {
  padding: .5rem .75rem;
  color: var(--color-dark);

  transition: all .3s ease-in-out;
}

.controls button:hover {
  background: var(--color-dark-hover);

  border-radius: 5rem;
  color: var(--color-white);
}

.selectedControlers {
  background: var(--color-primary);
  border-radius: 5rem;
  color: #fff !important;
}

.charts {
  display: flex;
  justify-content: center;

  padding: 1rem 3rem;
}

.charts div {
  margin: 2rem;
}

.container-table h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: var(--color-primary);
}

.polar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;

  padding: 1rem;

  border-radius: 20px;
  background: var(--color-info-light);
  box-shadow: var(--box-shadow);

}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;

  padding: 2rem;

  border-radius: 20px;
  background: var(--color-info-light);
  box-shadow: var(--box-shadow);
}

@media (max-width: 930px) {
  .charts {
    flex-wrap: wrap;
  }

  .polar {
    width: 100%
  }

  .bar {
    width: 100%
  }

}

.container-table {
  margin: 2rem 5rem;
}

.table {
  margin: 1rem auto 2rem;
  padding: 1rem;

  width: 100%;
  text-align: center;

  transition: all .3s ease;

  border-spacing: 0;

  border-radius: 20px;
  background: var(--color-info-light);
  box-shadow: var(--box-shadow);
}

.table:hover {
  box-shadow: none;
}

.table tbody tr:hover {
  background: rgba(77, 117, 220, 0.7);
  color: #fff;

  cursor: pointer;

  transition: all .3s ease-in-out;
}

.table tbody td {
  height: 3.8rem;
  border-bottom: 1px solid var(--color-light);
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.icon-table span {
  width: fit-content;
  padding: .75rem;


  font-size: 1rem;
  border-radius: 50%;
  color: #fff;
}